<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>注册成功</title>
		<script type="text/javascript" src="../jquery1.9.1/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</head>

	<body onload="loadHeader();">
		<div id="header"></div>
		<h1><strong>会员注册</strong></h1>
		<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
		<br />
		<div>
			<h2 align="center">注册成功！</h2>
			<a href="login.html"><h3 align="center">请登录！<h3></a>
		</div>

	</body>

</html>